{% extends 'base.default.html.twig' %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-search"></i> Suche</h1>
</div>
<div class="row">
    <div class="span12">
        <div class="span8 offset2">
            <input placeholder="Tippen, um Suche zu starten..." type="text" name="search" class="input-xxxlarge sf" id="sf">
            <a target="_blank" href="#" class="btn pull-right hidden" id="search-nw" title="Details in neuem Fenster öffnen"><i class="icon-reply"></i></a>
        </div>
        <div class="search-results"></div>
    </div>
</div>

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/search.css">
<!--<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/typeahead.js/typeahead.min.css">-->

{% endblock %}

{% block js %}
<script type="text/javascript">
    var urlCompanyDetail = "{{ url('company_detail_raw', {'id': 'IDS'} ) }}";
    var urlPupilDetail = "{{ url('pupil_detail_raw', {'id' : 'IDS'} ) }}";
</script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/typeahead.js/typeahead.min.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/hogan/hogan-2.0.0.min.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/search.js"></script>
{% endblock %}