<!-- Actions menu -->
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog"></i> Aktionen
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {% if is_granted('ROLE_WIRTSCHAFT_CREATE') %}
        <li class="nav-header"><i class="icon-cogs"></i> Betriebe</li>
        
        {% if is_granted('ROLE_WIRTSCHAFT_PRIV') %}
        <li {{ macros.activeNav('list_companies') }}><a href="{{ url('list_companies') }}"><i class="icon-reorder"></i> Betriebsliste</a></li>
        {% endif %}
        
        {% if is_granted('ROLE_WIRTSCHAFT_CREATE') %}
        <li {{ macros.activeNav('add_company') }}><a href="{{ url('add_company') }}"><i class="icon-plus"></i> Betrieb hinzuf&uuml;gen</a></li>
        {% endif %}
        
        <li class="divider"></li>
        {% endif %}
        
        {% if is_granted('ROLE_POLITIK_CREATE') %}
        <li class="nav-header"><i class="icon-group"></i> Parteien</li>
        
        {% if is_granted('ROLE_POLITIK_PRIV') %}
        <li><a href=""><i class="icon-reorder"></i> Parteiliste</a></li>
        {% endif %}
        
        {% if is_granted('ROLE_POLITIK_CREATE') %}
        <li><a href=""><i class="icon-plus"></i> Partei hinzuf&uuml;gen</a></li>
        {% endif %}
        
        {% endif %}
    </ul>
</li>

<!-- Administrationsmenü -->
{% if is_granted('ROLE_ADMIN') %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-wrench"></i> Administrator
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li class="nav-header"><i class="icon-group"></i> Benutzerverwaltung</li>
        <li {{ macros.activeNav('user_list') }}><a href="{{ url('user_list') }}"><i class="icon-reorder"></i> Benutzerliste</a></li>
        <li {{ macros.activeNav('create_user') }}><a href="{{ url('create_user') }}"><i class="icon-plus"></i> Benutzer hinzuf&uuml;gen</a></li>
    </ul>
</li>
{% endif %}