{% extends 'base.default.html.twig' %}

{% block content %}

<h1><i class="icon-reorder"></i> Betriebsliste</h1>
<div class="row">
    <div class="span12">
        {% if app.request.get("success") %}
            {% if app.request.get("deleted") %}
                {{ macros.successMsg('Betrieb wurde erfolgreich gelöscht.') }}
            {% endif %}

            {% if app.request.get("edited") %}
                {{ macros.successMsg('Betrieb wurde erfolgreich editiert.') }}
            {% endif %}
        {% endif %}
        
        {% if is_granted('ROLE_WIRTSCHAFT_ADMIN') %}
        <div class="row">
            <div class="span12">
                    <div class="btn-group pull-right">
                        <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-cog"></i>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('company_list_print') }}"><i class="icon-print"></i> Betriebsliste drucken</a></li>
                        </ul>
                    </div> 
            </div>
        </div>
        {% endif %}
   
<legend>Liste</legend>      
        <table class="table table-hover" id="company-list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Kategorie</th>
                    <th>Operationen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}

                    <tr>
                        <td>{{ company.getId()|e }}</td>
                        <td>{{ company.getName()|e }}</td>
                        <td>{{ company.getCategory() |e }}</td>
                        <td>
                            {% if is_granted('ROLE_WIRTSCHAFT_PRIV') %}
                            <button title="Details anzeigen" data-company="{{ company.getId() | e }}" class="btn btn-primary companyDetails"><i class="icon-reorder"></i></button>
                            {% endif %}

                            {% if is_granted('ROLE_WIRTSCHAFT_PRIV') %}
                            <a href="{{ url('edit_company',  { "id" : company.getId() } ) }}" title="Betrieb editieren" class="btn"><i class="icon-pencil"></i></a>
                            {% endif %}
                           
                            {% if is_granted('ROLE_WIRTSCHAFT_ADMIN') %}
                            <button data-href="{{ url('company_detail_print', { "id" : company.getId() } ) }}" title="Betriebsdetails drucken" class="btn companyPrintFilter"><i class="icon-print"></i></button>
                            {% endif %}
                            
                            {% if is_granted ('ROLE_WIRTSCHAFT_PRIV') %}
                            <button data-id="{{ company.getId()|raw}}" title="Zum Löschen (de)markieren" class="btn companyToggleDelete"><i class="icon-flag"></i></button>   
                            {% endif %}
                            
                            {% if is_granted('ROLE_WIRTSCHAFT_ADMIN') %}
                            <a href="{{ url('delete_company',  { "id" : company.getId() } ) }}" title="Betrieb l&ouml;schen" class="btn btn-danger"><i class="icon-trash"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <span class="to-delete-badge{{ company.getId() | raw }} badge badge-warning" {% if company.isMarkedToDelete == 0 %} style="display:none"{% endif %}>z.L.vgm.</span>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
        </table>
            <legend>Legende</legend>
            <dl class="dl-horizontal">
                <dt><span class="badge badge-warning">z.L.vgm.</span></dt>
                <dd>zum L&ouml;schen vorgemerkt.</dd>
            </dl>
    </div>
</div>
<div id="companyInfo">

</div>
  
<div id="companyPrintFilter" class="modal fade" aria-hidden="true" >  
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Druckinformationsauswahl</h3>
    </div>
    <div class="modal-body">
        <p>Bitte ausw&auml;hlen, welche Informationen gedruckt werden sollen:</p>
        <label class="checkbox">
            <input type="checkbox" value="1" id="cpf-category" checked="checked" data-v="cat">
            Betriebskategorie
        </label>
        <label class="checkbox">
            <input type="checkbox" value="1" id="cpf-chiefs" checked="checked" data-v="chf">
            Betriebsleiter
        </label>
        <label class="checkbox">
            <input type="checkbox" value="1" id="cpf-classes" checked="checked" data-v="class">
            Maximale und minimale Klasse
        </label>
        <label class="checkbox">
            <input type="checkbox" value="1" id="cpf-capacity" data-v="cap">
            Maximale und minimale Anzahl an Arbeitspl&auml;tzen
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary companyPrintFilterPrint" aria-hidden="true"><i class="icon-print"></i> Drucken</button>
    </div>
</div>


{% endblock %}


{% block header %}
<link href="{{ app.request.baseUrl }}/assets/dataTables/css/jquery.dataTables.css" type="text/css">
<link href="{{ app.request.baseUrl }}/assets/dataTables/css/dt.bootstrap.css" type="text/css">
{% endblock %}


{% block footer %}
    <script src="{{ app.request.baseUrl }}/assets/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="{{ app.request.baseUrl }}/assets/dataTables/js/dt.bootstrap.js"></script>
    
    <script src="{{ app.request.baseUrl }}/assets/js/company.js"></script>
{% endblock %}