{% extends 'base.default.html.twig' %}

{%- macro hasError(form) -%}
    {%- if (form.vars.errors|length) > 0 -%}
        {{- 'error' -}}
    {%- endif -%}
{%- endmacro -%}

{% import _self as macro %}

{% form_theme form _self %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <span class="help-inline">
        {% for error in errors %}
            {{ error.messageTemplate }}          
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block content %}

<div class="page-header">
    <h1><i class="icon-plus-sign"></i> Passwort &auml;ndern</h1>
</div>
    
<div class="row">
    <div class="span12">
        {% if app.request.get('success') %}       
               {{ macros.successMsg('Das Passwort wurde geändert.') }}
        {% endif %}
        
        {% if app.request.get('forced') %}
               {{ macros.warnMsg('Bitte aus Sicherheitsgr&uuml; das Passwort ändern.') }}
        {% endif %}
            
        <form method="post" class="form-horizontal">
            <div class="control-group {{ macro.hasError(form.oldpass) }}">
               {{ form_label(form.oldpass, "", { 'label_attr': { 'class' : 'control-label' } }) }} 
               <div class="controls">
               {{ form_widget(form.oldpass) }}
               </div>
            </div>

            <div class="control-group {{ macro.hasError(form.oldpass) }}">
               {{ form_label(form.newpass, "", { 'label_attr': { 'class' : 'control-label' } }) }} 
               <div class="controls">
               {{ form_widget(form.newpass) }}
               </div>
            </div>

            <div class="control-group {{ macro.hasError(form.oldpass) }}">
               {{ form_label(form.newpassConfirm, "", { 'label_attr': { 'class' : 'control-label' } }) }} 
               <div class="controls">
               {{ form_widget(form.newpassConfirm) }}
               </div>
            </div>
            {{ form_rest(form) }}
            <div class="control-group">    
                <div class="controls">
                    <button type="submit" name="submit" class="btn btn-primary">Passwort &auml;ndern</button>
                </div>                
            </div>

        </form>
    </div>
</div>
{% endblock %}