{% extends "base.default.html.twig" %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-desktop"></i> Broadcastliste</h1>
</div>

<div class="row">
    <div class="span12">
        {% if app.request.get("success") %}
            {% if app.request.get("deleted") %}
                {{ macros.successMsg("Broadcast wurde erfolgreich gelöscht.") }}
            {% endif %}

            {% if app.request.get("edited") %}
                {{ macros.successMsg("Broadcast wurde erfolgreich editiert.") }}
            {% endif %}
        {% endif %}

            <table class="table table-hover" id="company-list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start</th>
                        <th>Ende</th>
                        <th>Status</th>
                        <th>Operationen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for broadcast in broadcasts %}
                    <tr>
                        <td>{{ broadcast.getId | e }}</td>
                        <td>{{ broadcast.getName | e }}</td>
                        <td>{{ broadcast.getStartFormat |e }}</td>
                        <td>{{ broadcast.getEndFormat | e }}</td>
                        <td>
                            {% if broadcast.isVisible %}
                                <i data-url="{{ url('broadcast_toggle_visible',  { "id" : broadcast.getId() } ) }}" title="Status umschalten" class="icon-eye-open toggler broadcastToggleVisible"></i>
                            {% else %}
                                <i data-url="{{ url('broadcast_toggle_visible',  { "id" : broadcast.getId() } ) }}" title="Status umschalten" class="icon-eye-close toggler broadcastToggleVisible"></i>
                            {% endif %}
                            
                            {% if broadcast.isActive %}
                                <i data-url="{{ url('broadcast_toggle_active',  { "id" : broadcast.getId() } ) }}" title="Status umschalten" class="icon-ok toggler broadcastToggleActive"></i>
                            {% else %}
                                <i data-url="{{ url('broadcast_toggle_active',  { "id" : broadcast.getId() } ) }}" title="Status umschalten" class="icon-remove toggler broadcastToggleActive"></i>
                            {% endif %}
                                
                            {% if broadcast.isManual %}
                                <i title="Manuell" class="icon-exclamation"></i>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">                    
                                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
                                    Aktionen
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url('broadcast_detail',  { "id" : broadcast.getId() } ) }}" target="_blank" ><i class="icon-reorder"></i> Details anzeigen</a></li>
                                    <li><a href="{{ url('broadcast_edit',  { "id" : broadcast.getId() } ) }}" ><i class="icon-pencil"></i> Broadcast editieren</a></li>
                                    <li><a href="{{ url('broadcast_delete',  { "id" : broadcast.getId() } ) }}" ><i class="icon-trash"></i> Broadcast l&ouml;schen</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="{{ app.request.baseUrl }}/assets/js/broadcast.list.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
.toggler { cursor: pointer !important;}
</style>
{% endblock %}
