{% extends 'print/print.twig' %}

{% block additional_meta %}
<strong>Datens&auml;tze:</strong> {{ pupils | length }}<br>
{% endblock %}


{% block content %}

<div class="row">   
    <div class="span12">
       <table class="table table-hover" id="pupil-list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Klasse</th>
                    <th>Betrieb</th>
                </tr>
            </thead>
            <tbody>
            {% for pupil in pupils %}

                    <tr>
                        <td>{{ pupil.getId() | e }}</td>
                        <td>{{ pupil.getLastName() | e }}</td>
                        <td>{{ pupil.getFirstName() | e }}</td>
                        <td>{{ pupil.getRawClass() |e }}</td>
                        <td>
                            {% if pupil.company %}
                            {{ pupil.company.name | e }}
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
        </table>
    </div>
</div>

{% endblock %}{# empty Twig template #}
