<legend>Allgemeines</legend>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ company.getName() | e }}</dd>
            
            <dt>Id</dt>
            <dd>{{ company.getId() | e }}</dd>
            
            <dt>Kategorie</dt>
            <dd>{{ company.getCategory() | e }}</dd>
            
            <dt>Betriebsleiter</dt>
            <dd>
                <ul>
                    {% for chief in company.chiefs %}
                        <li>{{ chief.lastName }}, {{ chief.firstName }} ({{ chief.class.getFullClass() }})</li>
                    {% endfor %}
                </ul>
            </dd>
            
            <dt>Beschreibung</dt>
            <dd>{{ company.description | raw }}</dd>
        </dl>
        {% if company.desiredRoom or company.needs %}
        <legend>Sonstiges</legend>
        
            {% if company.desiredRoom %}
            <dt>Raumwunsch</dt>
            <dd>{{ company.desiredRoom }}</dd>
            {% endif %}
            
            {% if company.needs %}
            <dt>Ben&ouml;tigte Waren</dt>
            <dd>{{ company.needs | raw }}</dd>
            {% endif %}
        {% endif %}
