<div class="modal fade" id="details{{ company.getId() | e }}" aria-labelledby="detailLabel{{ company.getId() | e }}" aria-hidden="true" >  
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="detailLabel{{ company.getId() | e }}">{{ company.getName() | e }}</h3>
    </div>
    <div class="modal-body">
        {% include "company/company.details.raw.twig" %}
    </div>
    <div class="modal-footer">
        {% if is_granted('ROLE_WIRTSCHAFT_PRIV') %}
            <a target="_blank" href="{{ url('company_detail', { "id" : company.getId() }) }}" title="Betriebsdetails in neuem Fenster öffnen" class="btn"><i class="icon-reply"></i></a>
        {% endif %}
        
        {% if is_granted('ROLE_WIRTSCHAFT_ADMIN') %}
            <a target="_blank" href="{{ url('company_detail_print', { "id" : company.getId() } ) }}" title="Betriebsdetails drucken" class="btn"><i class="icon-print"></i></a>
        {% endif %}
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Schließen</button>
    </div>
</div>{# empty Twig template #}
